<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Sharing</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="icon" type="image/png" href="#">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://shrawank22.onrender.com/">Vehicle Sharing</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button id="rateBtn" type="button" class="hidden">Rate Vehicle</button>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item mr-3">
              <button id="verifyBtn" type="button" class="hidden">Verify User</button>
            </li> -->
            <li class="nav-item mr-3">
              <button id="addVehicle" type="button" class="hidden">Add Vehicle</button>
            </li>
            <li class="nav-item mr-3">
              <button id="registerBtn" type="button" class="hidden">Register</button>
            </li>
            <li class="nav-item">
              <button id="connectWalletBtn" type="button" class="btn btn-primary">Connect Wallet</button>
            </li>
            <li class="nav-item">
              <button id="balanceBtn" type="button" class="hidden">Get Balance</button>
            </li>
          </ul>
        </div>
        </div>
    </nav>
  </header>

  <div class="container">
    <div id="alertContainer"></div>
  </div>

  
  <div id="formContainer" class="container" style="display: none;">
    <h2>Add Vehicle</h2>
    <form id="vehicleForm" class="hidden">
      <div class="form-group">
        <label for="typeInput">Type:</label>
        <input type="text" id="typeInput" class="form-control" required>
      </div>
    
      <div class="form-group">
        <label for="makeInput">Make:</label>
        <input type="text" id="makeInput" class="form-control" required>
      </div>
    
      <div class="form-group">
        <label for="modelInput">Model:</label>
        <input type="text" id="modelInput" class="form-control" required>
      </div>
    
      <div class="form-group">
        <label for="priceInput">Price per Hour:</label>
        <input type="number" id="priceInput" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="depositInput">Deposit price:</label>
        <input type="number" id="depositInput" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="imageInput">IPFS Image Hash of Vehicle</label>
        <input type="text" id="imageInput" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="ownerInput">Owner:</label>
        <input type="text" id="ownerInput" class="form-control" required>
      </div>
    
      <button type="submit" class="btn btn-primary">Add Vehicle</button>
    </form>
  </div>

  <div id="regContainer" class="container" style="display: none;">
    <h1>User Registration</h1>
    <form id="registrationForm" class="hidden">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" required>
      </div>
      
      <div class="form-group">
        <label for="aadhar">Aadhar:</label>
        <input type="text" id="aadhar" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>

  <div id="ratingContainer" class="container">
    <form id="ratingForm" class="hidden">
      <div class="form-group">
        <label for="vehicle_id">Vehicle Id:</label>
        <input type="text" id="vehicle_id" class="form-control" required>
      </div>
      
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" max="5" min="1" id="rating" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="review">Review:</label>
        <input type="text" id="review" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>

  <div id="vehicleDetails" class="container">
    <table id="vehicle-table">
      <h2>Vehicle Details</h2>
      <thead>
        <tr>
          <th>V. Id</th>
          <th>Type</th>
          <th>Make</th>
          <th>Model</th>
          <th>Price/Hour</th>
          <th>Deposit</th>
          <!-- <th>Current Renter</th>
          <th>Previous Renters</th> -->
          <th>Image</th>
          <th>Available?</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody id="vehicle-details"></tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
  <script type="text/javascript" src="abi.js"></script>
</body>
</html>